.img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 5%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 5%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.dr-row {
  display: flex;
}
.dr-col-1 {
  flex: 0 0 14.29%;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.dr-col-2 {
  flex: 0 0 28.58%;
  box-sizing: border-box;
}