<div class="main-container" [dir]="dir"
    [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'horizontal' : horizontal }">

    <mat-toolbar class="topbar relative ultramarine ">
        <div class="w-100 fix-width-for-horizontal">
            <span style="padding-left:10px;color:white;font-size:26px;font-weight:300;padding-top:10px">BCBS Drunk
                Works</span>
            <div class="navbar-header">
            </div>
            <button mat-icon-button (click)="snav.toggle()" style="color: darkgrey;" class="sidebar-toggle"
                value="sidebarclosed">
                <mat-icon>menu</mat-icon>
            </button>
            <form class="app-search" [ngClass]="{'show-search': showSearch}">
                <input type="text" class="form-control" placeholder="Search &amp; enter">
                <a class="cl-srh-btn" (click)="showSearch = !showSearch">
                    <i class="ti-close"></i>
                </a>
            </form>
            <span fxFlex></span>
            <div *ngIf="!horizontal else horizontalheader">
                <app-vertical-header></app-vertical-header>
            </div>
            <ng-template #horizontalheader>
                <app-horizontal-header></app-horizontal-header>
            </ng-template>
            <button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
        [ngClass]="{'minisidebar': minisidebar}">
        <mat-sidenav style="width:147px;background-color: #30415D; " #snav id="snav" class="pl-xs"
            [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches"
            [disableClose]="mobileQuery.matches" (open)="sidebarOpened = true" (close)="sidebarOpened = false">
            <perfect-scrollbar *ngIf="!horizontal; else horizontalsidebar" class="scbar" [config]="config">
                <app-vertical-sidebar class="app-sidebar" [showClass]='status' (notify)="snav.toggle()">
                </app-vertical-sidebar>
            </perfect-scrollbar>
            <ng-template #horizontalsidebar>
                <app-horizontal-sidebar></app-horizontal-sidebar>
            </ng-template>
        </mat-sidenav>
        <mat-sidenav style="width:200px;" #end position="end" class="chat-panel" mode="over" opened="false">
            <div class="scroll">
                <mat-nav-list>
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Settings</h3>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content style="background-color: #30415D;" class="page-wrapper"
            [ngClass]="status ? 'minitoggle' : ''">
            <div class="page-content" style="background-color: #EEEEEE;height:100%;overflow:auto">
                <router-outlet>
                    <app-spinner></app-spinner>
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>