/* You can add global styles to this file, and also import other style files */
.test {
  white-space: pre-line;
}

.Priority{ color: white;background-color:#505F79;text-transform: uppercase;padding: 3px}
.Blocked{color: white;background-color:#FFAA00;text-transform: uppercase;padding: 3px}
.Approved{color: white;background-color:#36B37E;height: 10px;text-transform: uppercase;padding: 3px;}
.Urgent{color: white;background-color:#505F79;text-transform: uppercase;padding: 3px}
.Spike{color: white;background-color:#164b35;height: 10px;text-transform: uppercase;padding: 3px;}
